<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376703882127-qpdmatncc4q2u0iv7o99gjp4k4sfnhoa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376703882127-qpdmatncc4q2u0iv7o99gjp4k4sfnhoa</string>
	<key>API_KEY</key>
	<string>AIzaSyAO0mR5Dr0D3fFxE_qmfiOSoATr-ZLztnU</string>
	<key>GCM_SENDER_ID</key>
	<string>376703882127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>StyxInc.BetterNotes</string>
	<key>PROJECT_ID</key>
	<string>better-notes-81242</string>
	<key>STORAGE_BUCKET</key>
	<string>better-notes-81242.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376703882127:ios:52532994a7d6276deab1fa</string>
</dict>
</plist>